
---
apiVersion: v1
kind: Service
metadata:
  name: download-provider-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: system-provider
  ports:
    - name: server
      protocol: TCP
      port: 28080
      targetPort: 28080

---
# provider role
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backend:download-provider
  annotations:
    provider-registry-ref: {{ .Release.Namespace }}/download-provider-svc
    provider-service-ref: download-provider-svc.{{ .Release.Namespace }}:28080
rules:
  - nonResourceURLs: ["/api/download*"]
    verbs: ["*"]

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: download-provider-nginx-config
  namespace: {{ .Release.Namespace }}
  annotations:
    kubesphere.io/creator: bytetrade.io
data:
  download.conf: |-
    server {
        listen 8080;
        server_name  download-provider-svc.{{ .Release.Namespace }};
        # Gzip Settings
        gzip on;
        gzip_disable "msie6";
        gzip_min_length 1k;
        gzip_buffers 16 64k;
        gzip_http_version 1.1;
        gzip_comp_level 6;
        gzip_types *;
        index index.html;
        location / {
          proxy_pass http://download-svc.{{ .Release.Namespace }}:8080;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection '$connection_upgrade';
        }
    }

