---
apiVersion: v1
kind: Service
metadata:
  name: auth-provider-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: system-provider
  ports:
    - name: server
      protocol: TCP
      port: 28080
      targetPort: 28080

---
# provider role
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backend:auth-provider
  annotations:
    provider-registry-ref: {{ .Release.Namespace }}/auth-provider-svc
    provider-service-ref: auth-provider-svc.{{ .Release.Namespace }}:28080
rules:
  - nonResourceURLs: 
      - "/api/reset/*"
    verbs: ["*"]

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: auth-provider-nginx-config
  namespace: {{ .Release.Namespace }}
  annotations:
    kubesphere.io/creator: bytetrade.io
data:
  auth.conf: |-
    server {
        listen 8080;
        server_name  auth-provider-svc.{{ .Release.Namespace }};
        # Gzip Settings
        gzip on;
        gzip_disable "msie6";
        gzip_min_length 1k;
        gzip_buffers 16 64k;
        gzip_http_version 1.1;
        gzip_comp_level 6;
        gzip_types *;
        index index.html;
        location / {
          proxy_pass http://authelia-backend.{{ .Release.Namespace }}:9091;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection '$connection_upgrade';
        }
    }


---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: olares-cli-sa
  namespace: {{ .Release.Namespace }}


---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: backend:{{ .Release.Namespace }}:olares-cli-sa:provider
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: backend:auth-provider
subjects:
  - kind: ServiceAccount
    name: olares-cli-sa
    namespace: {{ .Release.Namespace }}
