// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@import 'src/css/ui/quasar.variables.sass';

$primary: $blue-6;

$bg-content: #f5f7fa;
$button-border-radius: 8px;
$generic-border-radius: 8px;

$content-header-height: 56px;
$status-warning: $warning;
$status-success: $positive;
$status-completed: #3377ff;
$status-failed: $negative;
$status-pending: $ink-3;
$space-xxl: 44px;

$space-xs-base: 4px;
$space-sm-base: 8px;
$space-md-base: 12px;
$space-lg-base: 20px;
$space-xl-base: 32px;
$space-xxl-base: 44px;

$separator-color: $separator !important;

$tooltip-color: $ink-tooltip;
$tooltip-background: $tooltip-bg;
$tooltip-padding: 4px 8px;
$tooltip-border-radius: 4px;
$tooltip-fontsize: 12px;

$theme-menu-bg-hover: $blue-soft;
$theme-menu-color-hover: $blue-6;

$theme-background-light: $background-1;

$theme-background-dark: $background-1;

.bg-theme-menu-bg-hover {
	background: $theme-menu-bg-hover !important;
}

.text-theme-menu-bg-hover {
	color: $theme-menu-bg-hover !important;
}


.bg-theme-menu-color-hover {
	background: $theme-menu-color-hover !important;
}

.text-theme-menu-color-hover {
	color: $theme-menu-color-hover !important;
}