.input {
	border-radius: 0.1em;
	padding: 0.5em 1em;
	transition: 0.2s ease all;
	margin: 0;
}

.input--block {
	margin-bottom: 0.5em;
	display: block;
	width: 100%;
}

/*will be remove*/
input::placeholder {
	/*text-align: left !important;*/
	font-size: 14px !important;
	font-weight: 400 !important;
	/* color: #adadad !important; */
}
