.single-line {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.avatar-circle {
	border-radius: 50%;
	overflow: hidden;
}

.text-white {
	color: white;
}

.bg-white {
	background: white;
}

.q-table td {
	padding: 7px 0 !important;
}

.q-table th,
.q-table td {
	padding: 7px 0 !important;
}

.q-menu {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2) !important;
}