// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
// @import '@bytetrade/ui/lib/styles/quasar.scss';
@import './quasar-bex.sass';
@import '@bytetrade/ui/lib/styles/quasar.popup.scss';
@import '@bytetrade/ui/lib/styles/quasar.btn.scss';
@import '@bytetrade/ui/lib/styles/quasar.variables.sass';

.q-ripple {
	display: none !important;
}

$sub-title: #5c5551;
$label: #b2b0af;
$prompt-message: #b2b0af;
$background: white;
$desktop-background: $grey-1;
$white: white;

.wise-global-ok-button {
	background: $orange-default;
	color: white;
}

.larepass-global-ok-button {
	background: $yellow-6 !important;
	color: $grey-10 !important;
}

.settings-global-ok-button {
	background: $blue-default !important;
	color: white !important;
}

.profile-global-ok-button {
	background: $green-default !important;
	color: black !important;
}

.market-global-ok-button {
	background: $blue-default !important;
	color: white !important;
}

$bg-content: #f5f7fa;
$separator-color: $grey-2;
$button-border-radius: 8px;
$generic-border-radius: 8px;
$primary: $light-blue-6;

$content-header-height: 56px;
$status-warning: $warning;
$status-success: $positive;
$status-completed: #3377ff;
$status-failed: $negative;
$status-pending: $ink-3;
$space-xxl: 44px;

$space-xs-base: 4px;
$space-sm-base: 8px;
$space-md-base: 12px;
$space-lg-base: 20px;
$space-xl-base: 32px;
$space-xxl-base: 44px;

$tooltip-color: $ink-tooltip;
$tooltip-background: $tooltip-bg;
$tooltip-padding: 4px 8px;
$tooltip-border-radius: 4px;
$tooltip-fontsize: 12px;
