::-webkit-scrollbar {
	height: 12px;
	width: 14px;
	background: transparent;
	overflow: visible;
}

::-webkit-scrollbar-thumb {
	width: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	margin: 4px;
	min-height: 32px;
	min-width: 32px;
	cursor: grab;
	opacity: 0.2;
	transition: opacity 0.3s;
	will-change: opacity;
	position: relative;
	z-index: 1;
}

::-webkit-scrollbar-track {
	background: transparent;
	position: relative;
	z-index: 0;
}
